/* iPad・スマホへの振り分け */

/* 表示領域が1020px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 1020px) {
}	

/* 表示領域が1019px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 1019px) and (min-width: 551px) {
}


@font-face {
	font-family: "TW";
	src: url("../../font/BanglaMN-Bold-02.ttf");
}


body {
    font-family: "ヒラギノ角ゴシック";
}

.body_ipad {
    width:700px;
    margin:0 50px;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

li {
    list-style: none;
}

.none {
    opacity: 0;
    z-index:-1;
}

#content {
    background: no-repeat url("../../img/bg.jpg");
    background-position: center;
	background-repeat: round;
    z-index:100;
    width: 100%;
    height:100%;
    position: fixed;
    overflow: scroll;
}

.logo {
    margin:70px auto 0 auto;
    display: block;
    width: 100px;
}

.copy {
    cursor: pointer;
    display: block;
    margin-top: -32px;
    margin-left: 332px;
}

.form_name {
    margin:10px auto 50px auto;
    text-align: center;
    font: normal normal bold 22px/40px Hiragino Sans;
    color: #FFFFFF;
}

.pay_price {
    margin:20px auto;
    text-align: center;
    font: normal normal normal 22px/37px Hiragino Sans;
    color: #FFFFFF;
}

.pay_int {
    font: normal normal normal 26px/37px Hiragino Sans;
    display: inline-block;
}

.qr {
    width:300px;
    display: block;
    margin:30px auto;
}

#txid_form {
}

.txid_explain {
    margin-top: 20px;
    text-align: center;
    font: normal normal normal 15px/26px Hiragino Sans;
    color: #FFFFFF;
}

.complete_text {
    max-width:600px;
    margin:40px auto;
    text-align: center;
    font: normal normal normal 17px/30px Hiragino Sans;
    color: #FFFFFF;
}

.mail_address {
    display: inline-block;
    text-align: center;
    font: normal normal normal 20px/30px Hiragino Sans;
    color: #FFFFFF;
    border-bottom:solid;
    border-width:1px;
}

.mail_div {
    text-align: center;
}

.form_item {
    width:360px;
    margin:0 auto 10px auto;
}

.uid_explain, .check_form {
    margin:20px 0;
    text-align: center;
    font: normal normal normal 15px/26px Hiragino Sans;
    color: #FFFFFF;
}

.item_name {
    font: normal normal normal 15px/26px Hiragino Sans;
    color: #FFFFFF;
}

.pay_exp {
    font: normal normal normal 15px/20px Hiragino Sans;
    color: #FFFFFF;
    width:460px;
    margin: auto;
    margin-bottom: 40px;
}

.item_text {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.send_address {
    letter-spacing: -0.3px;
}

.button_form {
    width:360px;
    margin: 30px auto;
}

.button_form a {
    width: 100%;
    height: 60px;
    padding-top: 17px;
    display: block;
    background: #20A1B6 0% 0% no-repeat padding-box;
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
    font: normal normal normal 18px/30px Hiragino Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
}

.button_form a:hover {
    text-decoration:none;
    transition: .5s;
    opacity:0.5;
}

.error_message {
    font-size: 15px;
    font-weight: bold;
    color:red;
    text-align: center;
}

.td1s {
    transition: .6s;
    transition-delay: .1s;
}

.td2s {
    transition: .6s;
    transition-delay: .2s;
}

.td3s {
    transition: .6s;
    transition-delay: .3s;
}

.td4s {
    transition: .6s;
    transition-delay: .4s;
}

.td5s {
    transition: .6s;
    transition-delay: .5s;
}

.td6s {
    transition: .6s;
    transition-delay: .6s;
}

.td7s {
    transition: .6s;
    transition-delay: .7s;
}

.td8s {
    transition: .6s;
    transition-delay: .8s;
}

.login_form {
    background-color: #FFFFFF;
    max-width: 600px;
    border: 1px solid #20A1B6;
    border-radius: 20px;
    padding:0 70px;
    margin: auto;
    top: 170px;
    position: relative;
}

.reminder_content {
    background-color: #FFFFFF;
    max-width: 600px;
    border: 1px solid #20A1B6;
    border-radius: 20px;
    padding:0 70px;
    margin: auto;
    top: 170px;
    position: relative;
}

.dashboard {
    background-color: #FFFFFF;
    max-width: 800px;
    border: 1px solid #20A1B6;
    border-radius: 20px;
    padding:0 35px;
    margin: auto;
    top: 170px;
    position: relative;
}

.dashboard_explain {
    width:100%;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.dashboard_explain_red {
    color:red;
}

.space {
    height:200px;
}

.dashboard_header {
    margin: 30px 0;
    display: flex;
}

.login_logo {
    margin: 40px auto 20px auto;
    width: 150px;
    display: block;
}

.dashboard_logo {
    width: 150px;
}

.logo_header {
    width: 150px;
}

.login_form_name, .reminder_form_name, .dashboard_form_name {
    font-size: 14px;
}

.forget_explain {
    font-size: 18px;
    text-align: center;
}

.dashboard_form_name {
    margin-bottom: 5px;
}

.dashboard_form_column {
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

.dashboard_button_column {
    max-width: 350px;
    margin: auto;
}

.login_button {
    color:#FFFFFF;
    background: #20A1B6 0% 0% no-repeat padding-box;
    border-radius: 0px;
    width:100%;
    height: 50px;
    margin-bottom: 30px;
    margin-top:20px;
}

.reminder_a {
    text-align: center;
    font: normal normal normal 15px/2px Hiragino Sans;
    margin-bottom: 50px;
    display: block;
    color: #262626;
    text-decoration: underline;
}

.reminder_text {
    text-align: center;
    font: normal normal normal 15px/24px Hiragino Sans;
    display: block;
    color: #262626;
}

.reminder_mail {
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 24px/24px Hiragino Sans;
    letter-spacing: 0px;
    color: #262626;
}

.back_login_button {
    margin: auto;
    display: block;
    width: 320px;
    height: 90px;
    margin-top:50px;
}

.back_login_button a {
    font: normal normal normal 15px/26px Hiragino Sans;
    letter-spacing: 1.05px;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 42px;
    background: #20A1B6 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: left;
}
    
.connect_button {
    color: #FFFFFF;
    background: #20A1B6 0% 0% no-repeat padding-box;
    border-radius: 0px;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    display: block;
}

.payment_button a {
    color: #FFFFFF;
    background: #205cb6 0% 0% no-repeat padding-box;
    border-radius: 0px;
    width: 300px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    display: block;
    line-height: 50px;
    transition: color .15s
}

.payment_button a:hover {
    color: #212529;
    text-decoration: none;
}

.button_flex {
    height:55px;
    display: flex;
}

.logout_button  {
    margin-left: auto;
}

.logout_button a {
    font: normal normal normal 15px/26px Hiragino Sans;
    letter-spacing: 1.05px;
    display: block;
    width: 130px;
    height: 40px;
    line-height: 42px;
    background: #20A1B6 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 18px 0;
    float: right;
}

.off_button {
    margin-left: auto;
}

.on_button {
    font: normal normal normal 15px/26px Hiragino Sans;
    letter-spacing: 1.05px;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 42px;
    background: #B50000 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: left;
}

.off_button {
    font: normal normal normal 15px/26px Hiragino Sans;
    letter-spacing: 1.05px;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 42px;
    background: #203DB6 0% 0% no-repeat padding-box;
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: left;
}


.opa04 {
    opacity:0.4;
}

.off_button {
    margin-left: auto;
}

.active_text {
    font: normal normal normal 13px/20px Hiragino Sans;
    color: #262626;
    text-align: center;
    margin-bottom: 30px;
}

.faq_div {
    max-width:600px;
    color:#fff;
    margin:auto;
}

.faq_content {
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.faq_q {
    font-size: 22px;
    font-weight: bold;
    margin: 36px 15px 24px 15px;
}

.faq_a {
    margin: 0 15px 24px 15px;
}